.containerWeather {
  width: 1100px;
  height: 600px;
  border: 6px solid rgb(27, 23, 23);
  border-radius: 12px;
  margin: auto;
  margin-top: 100px;
  padding: 20px 30px;
  background: url(./images/background.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  color: white;
  box-shadow: 0 20px 50px 0 rgb(15, 15, 15);

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    background: linear-gradient(180deg, black 0%, rgb(32, 32, 32) 64%, rgb(71, 70, 70) 100%);
    opacity: 0.35;
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__bottom {
    position: relative;
    z-index: 2;

    &__hours {
      display: flex;
      width: 100%;
      overflow: hidden;

      &:hover {
        overflow-x: scroll;
      }
    }
  }
}

.icons {
  width: 70px;
  height: 70px;

  &--small {
    width: 16px;
    height: 16px;
  }
  &--medium {
    width: 24px;
    height: 24px;
  }
}

.cursor-poiter {
  cursor: pointer;
}
