.App {
  display: flex;
  align-items: center;
  height: 100vh;
}

.containerWeather {
  width: 1100px;
  height: 600px;
  border: 6px solid rgb(27, 23, 23);
  border-radius: 12px;
  margin: auto;
  padding: 20px 30px;
  background: url(./images/background.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  color: white;
  box-shadow: 0 20px 50px 0 rgb(15, 15, 15);
  // -webkit-box-reflect: below 2px linear-gradient(to top, transparent, white);

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    background: linear-gradient(
      180deg,
      black 0%,
      rgb(32, 32, 32) 64%,
      rgb(71, 70, 70) 100%
    );
    opacity: 0.35;
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__bottom {
    position: relative;
    z-index: 2;

    &__hours {
      display: flex;
      width: 100%;
      overflow-x: hidden;
    }
  }
}

.icons {
  width: 70px;
  height: 70px;

  &--small {
    width: 16px;
    height: 16px;
  }
  &--medium {
    width: 24px;
    height: 24px;
  }
}

.cursor-poiter {
  cursor: pointer;
}

.form-location {
  display: none;
}

#blockHours {
  cursor: pointer;
  margin-bottom: 25px;
  
  &.active {
    cursor: grabbing;
  }
}

.current-location {
  position: absolute;
  top: 290px;
  z-index: 2;
  border-radius: 50%;
  cursor: pointer;
  transition: all .4s;
  background-color: transparent;
  
  &:hover {
    box-shadow: 0 0 20px 0 whitesmoke;
  }
}